{% extends 'base.html' %}

{% block content %}
    <style>
        html, body {
            height: 100%;
        }
    </style>
    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col-12 col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Upload XLS File</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_file" class="form-label">Choose file</label>
                        <input type="file" class="form-control" id="id_file" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}